.card {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 50px);
}

.card__title {
  margin: 0 auto 32px 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list {
  margin: 0;
  padding-left: 0;
}

.card__list-item {
  list-style-type: none;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto 16px;
  display: flex;
  justify-content: flex-start;
}

.card__list-item:last-child {
  margin: 0;
}
.card__list-divider {
  border-bottom: 1px solid #fff;
  flex-grow: 2;
  width: 50px;
}
